/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* sheared styles start  */
    .primay-btn ,.secondary-btn{
        /* padding: 15px 40px; */
        width: 49%;
        margin:25px 0px;
        font-size: 1rem;
    }
    
    /* sheared styles end  */
    .header-container, 
    nav>ul 
    {
        flex-direction: column;
        padding: 0px 20px;

    }
    .banner{
        flex-direction: column-reverse;
        padding: 0px 20px;
    }
    .logo>a{
        justify-content: center;
    }

    /* banner styles  */
    .banner-content,.banner-image{
        width: 100%;
    
    }
    .banner-content{
        width: 80%;
        margin: 0 auto;
    }
    .banner-title-one{
        font-size: 2rem;
    }
    .banner-title-two{
        font-size: 4rem;
    }
    .banner-content>a {
        font-size: 1rem;
    }
    .fa-play,
    
    .fa-download ,
    .fa-user-group{
        padding: 3px;
        font-size: .8rem;
    }
    .btn-box{
        width: 100%;
        text-align: center;
    }

}