/* common sheared styles start */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-text: #0B0223;
    --Linear: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    --red-color: #F61C0D;
    --section-title-color-two: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gray: #534C64;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

section {
    max-width: 1400px;
    margin: 0 auto;
}

.section-title-one {
    color: var(--primary-text);
    font-size: 3rem;
    font-weight: 600;
}

.section-title-two {
    background: var(--section-title-color-two);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.primary-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 13px 40px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 13px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* common sheared styles end  */

/* header styles start  */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px;

}

.logo>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    font-size: 2.8rem;
    font-weight: 700;

}

.logo-text {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
}


.logo img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    padding: 16px;
}

nav>ul>:last-child {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

nav>ul>li>a {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
    text-decoration: none;
}

.header-youtube-btn {
    border-radius: 8px;
    color: var(--red-color);
    font-size: 24px;
    padding: 5px;
    background: transparent;
}

/* nav bar styles end  */
/* banner styles start  */
.banner {
    display: flex;
    align-items: center;
}

.banner-title-one {
    text-transform: uppercase;
}

.banner-content,
.banner-image {
    width: 50%;

}

.banner-image img {
    width: 100%;
}

.banner-title-two {
    font-size: 6rem;
    font-weight: 800;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 17px 0px;
}

.fa-play {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    padding: 6px;
    margin-right: 6px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-text);
}

.fa-download {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    padding: 6px;
    margin-right: 6px;
    font-size: 1.25rem;
    -webkit-text-fill-color: transparent;
}

.fa-user-group {
    color: var(--primary-text);
    padding: 6px;
    margin-right: 6px;
    font-size: 1.25rem;
}

.sing-in-btn {
    margin: 40px 10px 0px 0px;
}

/* banner styles end  */



/* gamer styles start  */
.gamer-container {
    display: flex;
    align-items: center;

}

.gamer-image img {
    width: 100%;
}

.gamer-content {
    width: calc(100% - 920px);
    text-align: right;
}

.gamer-content>h5 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
    margin-top: 24px;
}
.gamer-content>h4 {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

.gamer-description {
    color: #534C64;
    font-size: 1.12rem;
    line-height: 30px;
    padding: 24px 0px 32px 0px;

}

/* gamer styles end  */



/* header styles end  */