/* common sheared styles start */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-text: #0B0223;
    --Linear: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    --red-color: #F61C0D;
    --section-title-color-two: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gray: #534C64;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header,.gamer,.videos,.download,.game-category,.footer-container,.banner {
    max-width: 1400px;
    margin: 0 auto;
}

.section-title-one {
    color: var(--primary-text);
    font-size: 3rem;
    font-weight: 600;
}

.section-title-two {
    background: var(--section-title-color-two);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.primary-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 13px 40px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 13px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* common sheared styles end  */

/* header styles start  */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px;

}

.logo>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    font-size: 2.8rem;
    font-weight: 700;

}

.logo-text {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
}


.logo img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    padding: 16px;
}

nav>ul>:last-child {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

nav>ul>li>a {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
    text-decoration: none;
}

.header-youtube-btn {
    border-radius: 8px;
    color: var(--red-color);
    font-size: 24px;
    padding: 5px;
    background: transparent;
}

/* nav bar styles end  */
/* banner styles start  */
.banner-section{
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
}
.banner {
    display: flex;
    align-items: center;
}

.banner-title-one {
    text-transform: uppercase;
}

.banner-content {
    
}

.banner-content,
.banner-image {
    width: 50%;

}

.banner-image img {
    width: 100%;
}

.banner-title-two {
    font-size: 6rem;
    font-weight: 800;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-content>a {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 17px 0px;
}

.fa-play {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    padding: 6px;
    margin-right: 6px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-text);
}

.fa-download {
    background: var(--Linear);
    background-clip: text;
    -webkit-background-clip: text;
    padding: 6px;
    margin-right: 6px;
    font-size: 1.25rem;
    -webkit-text-fill-color: transparent;
}

.fa-user-group {
    color: var(--primary-text);
    padding: 6px;
    margin-right: 6px;
    font-size: 1.25rem;
}

.sing-in-btn {
    margin: 40px 10px 0px 0px;
}

/* banner styles end  */



/* gamer styles start  */
.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.gamer-container {
    display: flex;
    align-items: center;

}

.gamer-image img {
    width: 100%;
}

.gamer-content {
    width: calc(100% - 920px);
    text-align: right;
}

.gamer-content>h5 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
    margin-top: 24px;
}

.gamer-content>h4 {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

.gamer-description {
    color: #534C64;
    font-size: 1.12rem;
    line-height: 30px;
    padding: 24px 0px 32px 0px;

}

/* gamer styles end  */

/* videos styles start  */
.videos {
    padding: 120px 0px;
}

.videos>h1 {
    text-align: center;
}

.videos-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 24px;

}

.video {
    position: relative;
}

.play-icon {
    display: none;
}

.video:hover .play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    display: block;
}
.video:hover .play-icon-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    z-index: 1;
    display: block;
}


.video:hover.video::after {
    content: "";
    width: 100%;
    height: 80%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    background: rgba(20, 15, 15, 0.71);
    cursor: pointer;
    border: 4px solid #FF42A5;
    
}
.watch-now-text {
    display: none;
}
.video:hover .watch-now-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    z-index: 1;
    display: block;
}
.video img {
    width: 100%;
    height: 80%;
    z-index: -1;
}
.video>p{
    font-size: 1rem;
    margin-top: 24px;
}
/* .video:hover img{
    opacity: .2px;
} */

/* videos styles end  */

/* download styles start  */
.download-container {
    display: flex;
    justify-content: space-between;
}

.download-content {
    width: 25%;
    text-align: right;
    padding: 0% 5% 0% 20%;
    align-self: center;
}

.download-description {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    line-height: 30px;
    /* 166.667% */
}

.download-img {
    width: 40%;
    position: relative;
}

.download-img>img {
    width: 100%;
}

.doll-img-box {
    position: absolute;
    bottom: -70px;
    width: 50%;
    left: -100px;
}

.doll-img-box>img {
    width: 100%;
}

/* download styles end  */

/* game category styles start */
.game-category-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.game-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 70px;
    margin-top: 143px;
    gap: 27px;
}

.category {
    width: 250px;
}

.category>a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.category>a>img {
    margin-right: 10px;
}

.category>a {
    padding: 11px;
    border-radius: 50px;
}

.category:hover.category>a {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #FF42A5;
    color: #FF42A5;
    transition: 1s;
}


/* game category styles end*/

/* footer section start  */
.footer {
    background: var(--primary-text);
    text-align: center;
    padding: 120px 0px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo>a {
    color: #FFF;
    text-align: center;
}

.footer-link-box-one {
    display: flex;
    justify-content: center;
}

.footer-link-box-one>li {
    list-style: none;
    padding: 20px;
}

.footer-link-box-one>li>a {
    color: #FFF;
    font-size: 1.2rem;
}

.socials-icon-box {
    margin: 50px 0px;
}

.socials-icon-box>a {
    margin: 10px;
}

.socials-icon-box>a>i {
    font-size: 30px;
    color: #FFF;
}

.footer-link-box-two>a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 10px;
}

.copy-right-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
}

.d-none {
    display: none;
}

/* footer section end  */
/* header styles end  */